# Streamlit
streamlit==1.26.1

# YOLO
ultralytics==8.4.14

# OpenCV full version (not headless)
opencv-python==4.8.1.78

# Data & plotting
numpy>=1.26.1
pandas==2.1.2
matplotlib==3.7.2

# Optional for ngrok (if used)
pyngrok==7.5.0
